<launch>
    <arg name="prompt" default="cube" doc="Text prompt for SAM-3 tracking" />
    <arg name="input_topic" default="/camera/color/image_raw" />
    <arg name="output_topic" default="/sam3/mask" />

    <node name="sam3_pipeline" pkg="sam3_ros_wrapper" type="main.py" output="screen">
        <param name="prompt" value="$(arg prompt)" />
        <remap from="/input_rgb" to="$(arg input_topic)" />
        <remap from="/output_mask" to="$(arg output_topic)" />
    </node>
</launch>